*{
    box-sizing: border-box;
}
.jumbotron{
    background: no-repeat;
    display: flex;
}

h1{
display: flex;
    text-align: center;

}

#textbox{
    margin-top:50px;
    background-color: lightgrey;
    width: 100%;
    opacity: 0.8;
    text-align: center;
    border: 2px solid silver;
}