/*
TODO: Skip to main, needs border, top, BG.
 Large flex? Nested Containers?
 LInks: BG color, spacing,
 IMG: get the random placeholder img,
*/

* {
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 1em; /*--> Ken did this to his body*/
    flex-direction: column;
    font-family: sans-serif;
}

.alert-info a{
    display: flex;
    background-color: #beffff;
    border: solid lightgrey;
    width: 100%;
    height: 3.5em;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

h1 {
    margin: .2em auto .5em auto;
    font-size: 3em;
}

.nav-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: flex;
    background-color: lightgrey;
    width: 100%;
    height: 3.5em;
    margin-bottom: .7em; /*This is causing the separation between the links (the white space)*/
}

.nav-links a {
    margin: auto; /*this is causing the links to be in the center of the box, not sure why though */
}

.header-img{
    width: 100%;
}

img {
    width: 100%; /*why is it necessary to have both the class and the selector? When I remove the class in the inspector, I don't see a difference*/
}

.sub-section h2 {
    font-size: 1.25em;
}

.sub-section {
    font-style: italic;
}

footer {
    margin-top: 4em;
}

@media screen and (min-width: 768px){
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        margin: .2em auto .5em 0;
        font-size: 2.5em;
    }
    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        background: none;
        margin: 0 .75em;
    }

    section p {
        padding-right: 1em;
    }

    .main {
        flex-basis: 60%;
    }

    .sub-section {
        flex-basis: 40%;
    }


}