body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0px;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border-radius: 5px;
    border:solid lightgray thin;
    margin: 8px;
    padding: 6px;
}

.message-info{
   background-color: #cddeff;
    color: #6362b1;
}

.message-success{
    background-color: #cff3da;
    color: #028202;
}

.message-warning{
    background-color: #fcfbc9;
    color: #a89942;
}

.message-error{
    background-color: #fad3d7;
    color: #973851;
}