.container{
    display: flex;
    background: lightskyblue;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.card-grid{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1em;
    height:50rem;
}

.card{
    margin: .5em;
    background: white;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
}

#current-weather{
    align-self: center;
    text-align: center;
    height: auto;
}

#forecast{
    flex-direction: row;
    display: flex;
}